.datetime-picker{
	width:200px;
	box-shadow: 2px 2px 3px #aaaaaa;
}
.datetime-picker .header{
	display: flex;
	justify-content: space-between;
	width:100%;
	background: #eee;
	height: 30px;
	line-height: 30px;
}
.datetime-picker .prev-btn,
.datetime-picker .next-btn{
	cursor: pointer;
	padding: 0 10px;
}
.datetime-picker .prev-btn{
	
}
.datetime-picker .next-btn{
	order: 2;
}
.datetime-picker .seleted{
	cursor: pointer;
}
.datetime-picker .datetime-body{

}
.datetime-picker .datetime-table{
	border-collapse: collapse;
	width:100%;
	border: 1px solid #eee;
}
.datetime-picker .datetime-table tr{
	border: 1px solid #eee;
	text-align: center;
	height: 30px;
	line-height: 30px;

}
.datetime-picker .datetime-table th{
	font-size: small;
	cursor: default;
}

.datetime-picker .datetime-table td
{

}
.datetime-picker .datetime-table td:hover{
	background: #9ed6ef;
	cursor: pointer;
}
